* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sen-serif;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

button {
  background: none;
  border: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background-color: #171100;
  border-radius: 24.5px;
}

.btn:hover {
  opacity: 0.9;
}

.row {
  display: flex;
  align-items: center;
}

/* Fixed header */
.header {
  background-color: #fffcf4;
}

.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .navigation {
  display: flex;
  margin-left: auto;
}

.header .navigation ul {
  display: flex;
}

.navigation a {
  position: relative;
  padding: 8px 21px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #5f5b53;
}

.navigation a:hover,
.navigation li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.navigation li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  background-color: #171100;
  border-radius: 1px;
}

.sign-up-btn {
  min-width: 144px;
}

/* Hero */
.hero {
  padding: 56px 0 65px 0;
  background-color: #fffcf4;
}

.hero-body {
  display: flex;
}

.hero-img {
  position: relative;
  width: 48%;
}

.hero-img .img-block {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-img .hero-card {
  position: absolute;
  left: 50%;
  bottom: 10%;
  width: 270px;
  padding: 24px 0 28px 24px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.07);
}

.hero-card .item {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.hero-card .item:first-child {
  margin-top: 0;
}

.hero-card .icon {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #fff9e8;
  border-radius: 50%;
}

.hero-card .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-card .info {
  margin-left: 16px;
}

.hero-card .info .title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #5f5b53;
}

.hero .info .desc {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #171100;
}

.hero-content {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero-content .sub-title {
  width: 470px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 6.8rem;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero-content .desc {
  margin-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #5f5b53;
}

.row {
  display: flex;
  align-items: center;
}

.hero-content .row-btn {
  margin-top: 38px;
}

.row-btn .btn-hero {
  min-width: 180px;
  padding: 7px 16px;
  font-size: 1.8rem;
  border-radius: 32px;
  background-color: var(--primary-color);
}

.row-btn .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: #fffcf4;
  cursor: pointer;
}

.watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #171100;
}

.hero-content .recent {
  margin-top: 48px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #5f5b53;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  padding: 0 8px 0 28px;
  font-family: var(--font-heading), serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}

/* Popular */
.popular {
  margin-top: 200px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .info .title {
  font-family: var(--font-heading), serif;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.8rem;
  letter-spacing: -0.02em;
  color: #171100;
}

.popular-top .info .desc {
  width: 458px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #5f5b53;
}
.popular-top .pagination {
  display: flex;
}

.popular-top .pagination img {
  margin-left: 18px;
  padding: 12px 15px;
  border-radius: 50%;
}

.pagination .pagination-left {
  border: 1px solid var(--primary-color);
}

.popular-top .pagination .pagination-right {
  padding: 13px 16px;
  background-color: var(--primary-color);
}

.popular-bottom {
  margin-top: 55px;
}

.list-courses {
  gap: 30px;
}

.list-courses .item-course {
  border: 1px solid #e2dfda;
  border-radius: 12px;
  overflow: hidden;
}

.list-courses .item-course .image {
  width: 370px;
  height: 278px;
  object-fit: cover;
}

.item-course .info {
  padding: 16px 22px 0;
}

.item-course .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #171100;
}

.item-course .rating {
  display: flex;
  margin-left: auto;
}

.item-course .rating .qlt-rating {
  margin-left: 6px;
}

.item-course .desc {
  width: 326px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #5f5b53;
}

.item-course .row-book-now {
  justify-content: space-between;
  padding: 12px 0 22px;
}

.item-course .cost {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #171100;
}

.item-course .btn-book-now {
  font-size: 1.4rem;
  background-color: #171100;
}

.item-course .btn-book-now:hover {
  background-color: var(--primary-color);
}
